body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-style: italic;  

}
p {
    text-align: center;
}

span {
    padding: 5px;
    border-radius: 5px;
    color: white;
    
        font-weight: bold;
    
}
.nombreAlumno {
   background-color: darkgrey;
}
